section.about.container__about
    h1.title.about__title Монтаж дымоходов
    ul.breadcrumbs-list.about__breadcrumbs-list
        li.breadcrumbs-list__item
            a.breadcrumbs-list__link(href="#") Главная
        li.breadcrumbs-list__item
            a.breadcrumbs-list__link(href="#") Монтаж дымоходов
    p.text.about__text
        | В <span class="text__color">Дымоход.ру</span>
        | вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, 
        | состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения 
        | квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
    