section.benefits.container__benefits
    div.benefits-text.benefits__benefits-text
        h2.section-title.benefits-text__section-title Lorem ipsum dolor sit amet<span class='section-title__color'>Lorem ipsum</span>
        ul.benefits-list.benefits-text__benefits-list
            li.benefits-list__item Доступные цены
            li.benefits-list__item Собственное производство Дымоходов
            li.benefits-list__item Выполнение необходимых работа, связанных с установкой камина, печи, котла
            li.benefits-list__item Гарантия (от трёх до десяти лет)
            li.benefits-list__item Работаем чисто, аккуратно, убираем за собой, не сквернословим
            li.benefits-list__item Только русские квалифицированные специалисты
            li.benefits-list__item Устанавливаем любые дымоходы всех производителей
    div.benefits-image.benefits__benefits-image
        img.benefits-image__blob(src="../../images/blob.svg", alt="image Blob")
        img.benefits-image__chimney(src="../../images/chimney.png", alt="image Chimney")