section.portfolio.container__portfolio
    h2.section-title.portfolio__section-title Фото выполненных работ
    p.text.portfolio__text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
        | aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    ul.portfolio-list.portfolio__portfolio-list
        li.portfolio-list__item
            a.portfolio-list__link(href="#")
                img.portfolio-list__image(src="../../images/chimney1.png", alt="image Chimney 1")
        li.portfolio-list__item
            a.portfolio-list__link(href="#")
                img.portfolio-list__image(src="../../images/chimney2.png", alt="image Chimney 2")
        li.portfolio-list__item
            a.portfolio-list__link(href="#")
                img.portfolio-list__image(src="../../images/chimney3.png", alt="image Chimney 3")
        li.portfolio-list__item
            a.portfolio-list__link(href="#")
                img.portfolio-list__image(src="../../images/chimney4.png", alt="image Chimney 4")
        li.portfolio-list__item
            a.portfolio-list__link(href="#")
                img.portfolio-list__image(src="../../images/chimney5.png", alt="image Chimney 5")
        li.portfolio-list__item
            a.portfolio-list__link(href="#")
                img.portfolio-list__image(src="../../images/chimney6.png", alt="image Chimney 6")
        li.portfolio-list__item
            a.portfolio-list__link(href="#")
                img.portfolio-list__image(src="../../images/chimney7.png", alt="image Chimney 7")
        li.portfolio-list__item
            a.portfolio-list__link(href="#")
                img.portfolio-list__image(src="../../images/chimney8.png", alt="image Chimney 8")