section.video.container__video
    h2.section-title.video__section-title Видео об установке
    p.text.video__text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
        | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    div.video-wrapper.video__video-wrapper
        div.video-block.video-wrapper__video-block
            img(src="../../images/video-image.png", alt="image Video").video-block__image
            div.video-block__button
                button.video-block__play