header.header.body__header 
    div.header-box.header__header-box
        a.logo.header-box__logo(href="#")
            img.logo__image(src="../../images/logo.svg", alt="image Logo")
        nav.menu.header-box__menu
            ul.menu__list
                li.menu__item
                    a.menu__link(href="#") Каталог товаров
                li.menu__item
                    a.menu__link(href="#") Доставка и оплата
                li.menu__item
                    a.menu__link(href="#") Цены
                li.menu__item
                    a.menu__link(href="#") Контакты
        a.phone.header-box__phone(href="tel:+78125092198") +7 (812) <span class='phone__bold'>509 21 98</span>
        button.callback.header-box__callback Перезвоните мне
        ul.socials.header-box__socials
            li.socials__item
                a.socials__link(href="#" target="_blank")
                    svg(width="20" height="20" fill="#4C858B")
                        use(href="../../images/sprite.svg#vk")
            li.socials__item
                a.socials__link(href="#" target="_blank")
                    svg(width="19" height="20" fill="#4C858B")
                        use(href="../../images/sprite.svg#telegram")
            li.socials__item
                a.socials__link(href="#" target="_blank")
                    svg(width="15" height="16" fill="#4C858B")
                        use(href="../../images/sprite.svg#instagram")
            li.socials__item
                a.socials__link(href="#" target="_blank")
                    svg(width="15" height="16" fill="#4C858B")
                        use(href="../../images/sprite.svg#whatsapp")
        ul.control.header-box__control
            li.control__item
                a.control__link(href="#")
                    svg.control__size(fill="#4C858B")
                        use(href="../../images/sprite.svg#search")
            li.control__item
                a.control__link(href="#")
                    svg.control__size(fill="#4C858B")
                        use(href="../../images/sprite.svg#favorites")
            li.control__item.control__item_it
                a.control__link(href="#")
                    svg.control__size(fill="#4C858B")
                        use(href="../../images/sprite.svg#cart")
                    span.control__number-of-items 10
        button.burger.header-box__burger
            svg.burger__size
                use(href="../../images/sprite.svg#burger-menu")