footer.footer.body__footer
    div.footer-box.footer__footer-box
        section.catalog.footer-box__catalog
            h5.footer-subtitle.catalog__footer-subtitle Каталог
            ul.footer-list.catalog__footer-list
                li.footer-list__item 
                    a.footer-list__link(href="#") Дымоходы
                li.footer-list__item 
                    a.footer-list__link(href="#") Камины
                li.footer-list__item
                    a.footer-list__link(href="#") Дымососы
                li.footer-list__item
                    a.footer-list__link(href="#") Силикат кальция
                li.footer-list__item
                    a.footer-list__link(href="#") Печи для дома
                li.footer-list__item
                    a.footer-list__link(href="#") Котлы
                li.footer-list__item
                    a.footer-list__link(href="#") Печи для бани
                li.footer-list__item
                    a.footer-list__link(href="#") Ещё
        section.info.footer-box__info
            h5.footer-subtitle.info__footer-subtitle Информация
            ul.footer-list.info__footer-list
                li.footer-list__item
                    a.footer-list__link(href="#") Каталог
                li.footer-list__item
                    a.footer-list__link(href="#") Полезное
                li.footer-list__item
                    a.footer-list__link(href="#") Установка и монтаж
                li.footer-list__item
                    a.footer-list__link(href="#") Контакты
                li.footer-list__item
                    a.footer-list__link(href="#") Отзывы
                li.footer-list__item
                    a.footer-list__link(href="#") Оплата и доставка
                li.footer-list__item
                    a.footer-list__link(href="#") Ликвидация товара
        section.work-hours.footer-box__work-hours
            h5.footer-subtitle.work-hours__footer-subtitle Время работы
            p.hours.work-hours__hours 
                | <span class='hours__color'>пн-пт</span> 9:00 – 20:00 &nbsp;&nbsp;
                | <span class='hours__color'>сб-вс</span> 10:00 – 18:00
            p.address.work-hours__address г. Санкт - Петербург, ул. Тамбасова д.7
            ul.socials.work-hours__socials
                li.socials__item
                    a.socials__link(href="#" target="_blank")
                        svg(width="23" height="23" fill="#4C858B")
                            use(href="../../images/sprite.svg#vk")
                li.socials__item
                    a.socials__link(href="#" target="_blank")
                        svg(width="22" height="23" fill="#4C858B")
                            use(href="../../images/sprite.svg#telegram")
                li.socials__item
                    a.socials__link(href="#" target="_blank")
                        svg(width="18" height="19" fill="#4C858B")
                            use(href="../../images/sprite.svg#instagram")
                li.socials__item
                    a.socials__link(href="#" target="_blank")
                        svg(width="18" height="19" fill="#4C858B")
                            use(href="../../images/sprite.svg#whatsapp")