@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: normal;
    font-display: swap;
    src: url(fonts/Montserrat-Light.ttf);
    
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: normal;
    font-display: swap;
    src: url(fonts/Montserrat-Regular.ttf);
    
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: normal;
    font-display: swap;
    src: url(fonts/Montserrat-Medium.ttf);
    
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: normal;
    font-display: swap;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: normal;
    font-display: swap;
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: normal;
    font-display: swap;
    src: url(fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-size: normal;
    font-display: swap;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato';
    font-weight: 800;
    font-size: normal;
    font-display: swap;
    src: url(fonts/Lato-ExtraBold.ttf);
}