doctype html 
html(lang='ru')
    include components/head.pug
    body.body
        include components/header/header.pug
        main
            div.container
                include components/main/about.pug
                include components/main/benefits.pug
                include components/main/process.pug
                include components/main/why-us.pug
                include components/main/consultation.pug
                include components/main/video.pug
                include components/main/portfolio.pug
        include components/footer/footer.pug